/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */
.archive{
    h1{
        font-size:2rem;
        font-weight:400;
        margin-top:1.5rem;

    }
    article{
        border-top: 1px dashed #fff;
        margin:0;
        padding:1.5rem 0;
        &:last-child{
            border-bottom: 1px dashed #fff;
        }
        font-size:1.25rem;
        @include desktop{
            font-size:1.75rem;
        }
    }
    .number-pagination{
        font-size:1rem;
        .page-numbers{
            padding:0 0.25rem;
        }
    }
}
/* Submit a Quote Page */
